<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>pumeImagePath</param-name>
        <param-value>C:/Users/Public/pume/</param-value>
    </context-param>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>gsgsgsgshshhs</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/de/*</url-pattern>
            <url-pattern>/WEB-INF/utme/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>Sourced Pages</display-name>
            <url-pattern>/WEB-INF/sourced/*</url-pattern>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>pumePages</display-name>
            <url-pattern>/WEB-INF/pume/pume.jsp</url-pattern>
            <url-pattern>/WEB-INF/pume/*</url-pattern>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>pay pages</display-name>
            <url-pattern>/WEB-INF/pay/pg.jsp</url-pattern>
            <url-pattern>/WEB-INF/pay/sciencepay.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>sourcedConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Sources Secured resources</web-resource-name>
            <description/>
            <url-pattern>/WEB-INF/sourced/*</url-pattern>
            <url-pattern>/sourcedUtme</url-pattern>
            <url-pattern>/newSourcedUtme</url-pattern>
            <url-pattern>/deApplication</url-pattern>
            <url-pattern>/sourcedDe /predegree</url-pattern>
            <url-pattern>/ijslip</url-pattern>
            <url-pattern>/ijmb_ol</url-pattern>
            <url-pattern>/ijmb</url-pattern>
            <url-pattern>/pg</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>sourced</role-name>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>bankUserContsraint</display-name>
        <web-resource-collection>
            <web-resource-name>bank user resources</web-resource-name>
            <description/>
            <url-pattern>/bank</url-pattern>
            <url-pattern>/pinDetails</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>bankUser</role-name>
            <role-name>bankAdmin</role-name>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>bankAdminContsraint</display-name>
        <web-resource-collection>
            <web-resource-name>Bank Admin Resources</web-resource-name>
            <description/>
            <url-pattern>/bankAdmin</url-pattern>
            <url-pattern>/ bankUsers</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>bankAdmin</role-name>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>kukAdminContsraint</display-name>
        <web-resource-collection>
            <web-resource-name>Kuk Admin Resources</web-resource-name>
            <description/>
            <url-pattern>/utme</url-pattern>
            <url-pattern>/de</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/departmentDesicion</url-pattern>
            <url-pattern>/finalApproval</url-pattern>
            <url-pattern>/editPostUtme</url-pattern>
            <url-pattern>/utmeDetails</url-pattern>
            <url-pattern>/deleteUtme</url-pattern>
            <url-pattern>/addUtme</url-pattern>
            <url-pattern>/updateUtme</url-pattern>
            <url-pattern>/deDeptDesicion</url-pattern>
            <url-pattern>/deList</url-pattern>
            <url-pattern>/newDe</url-pattern>
            <url-pattern>/newDe</url-pattern>
            <url-pattern>/deleteDe</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>pumeConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>pume Resources</web-resource-name>
            <description/>
            <url-pattern>/pume</url-pattern>
            <url-pattern>/pume/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>pume</role-name>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>stbUserConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>stbUser Resource </web-resource-name>
            <description/>
            <url-pattern>/sterling</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>stbUser</role-name>
            <role-name>kukAdmin</role-name>
            <role-name>stbAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>stbAdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>stbAdmin Resouces</web-resource-name>
            <description/>
            <url-pattern>/sterlingAdmin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>stbAdmin</role-name>
            <role-name>kukAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SourcedCandidates</realm-name>
        <form-login-config>
            <form-login-page>/admin/login.jsp</form-login-page>
            <form-error-page>/admin/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>sourced</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>bankAdmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kukAdmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>bankUser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>pume</role-name>
    </security-role>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>
    <security-role>
        <description/>
        <role-name>stbUser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>stbAdmin</role-name>
    </security-role>
</web-app>
